.cambiarModo{
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    z-index: 2;
    padding: 5px;
    border: 2px solid white;
    outline: none;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
}



.opt-dark{
    color: #ccc;
    background-color: black;
    
}

.opt-light{
    color: black;
    background-color: #ccc;
    
}

.opt-80s{
    background-color: #2d2d44;
    color:#00e6ff;
}

.opt-matrix{
    background-color: black;
    color: rgb(118, 255, 3);
}

@media (max-width:500px) {
    .cambiarModo{
        position: absolute;
        font-size: 10px;
    }
}