
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} 
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

body{
  /* background-color: rgb(2, 2, 45); */
   background-image: URL("../public/the\ matrix\ GIF.gif"); 
  /* background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnUxeTB3bmxkaHI5M3ljZnZ4a2Y5MDJkbTd3bzVkNm9kNHJwdXJkMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WoD6JZnwap6s8/giphy.gif"); */
}

*{
  padding: 0;
  margin: 0;
}
