main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: #ccc;
    width: 95%;
    margin:20px 0;
    gap: 100px;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.8);

}

.quien_soy, main div{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border:1px solid white;
padding: 10px;
gap:20px;
min-height: 200px;
background-color: black;
border-radius: 20px;
line-height: 30px;
animation: aparece linear,desaparece linear;
 animation-timeline:view() ; 
 animation-range:entry 0, exit 0;
 cursor: pointer;
}

main div:hover{
    box-shadow: 0px 0px  50px rgba(0, 255, 0, 0.4);
    animation: perfil;
    transition: transform 1s,box-shadow .5s;
    transform: scale(1.01);
}

main div p{
    font-size: 20px;
}

main div h2{
    font-size: 30px;
}






@keyframes aparece {
    from{
        opacity: 0;
        scale: .5;

    }
    to{
        opacity: 1;
        scale: 1;
    }
    
}

@keyframes desaparece {
    from{
        opacity: 1;
        scale: 1;

    }
    to{
        opacity: 0;
        scale: .5;
    }}